* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E6E6FA;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 15px
}


.flexbox .tile1 {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;

  background-color: #2222AA;
  padding: 15px;
}

.flexbox .tile2 {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;

  background-color: #2A2AD1;
  padding: 15px;
}

.flexbox .tile3 {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;

  background-color: #4D4DDB;
  padding: 15px;
}

.flexbox .tile4 {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;

  background-color: #7373E3;
  padding: 15px;
}

.flexbox .tile5 {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;

  background-color: #9A9AEB;
  padding: 15px;
}


.flexbox .tile6 {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;

  background-color: #9A9AEB;
  padding: 15px;
}


.flexbox .tile7 {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;

  background-color: #E6E6FA;
  padding: 15px;
}






.flexbox .tile .card {
  padding: 15px 25px;
  background-color: red;

  cursor: pointer;
  margin-bottom: 15px;
}